table,th,td{
    border: 0.188rem solid;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 0.5rem;
  text-align: left;
  
}

tr:nth-child(even) {background-color: gray;}

th{
    height: 2.5rem;
    background-color: chartreuse;
    color: dimgray;
    text-align: center;
}

.a,
.b,
.c{
    color: #ff002b;
    text-align: center;
    font-size: 3.75rem;   
}

.a:hover{
    color: chartreuse;
}

.b:hover{
    color: chartreuse;
}

.c:hover{
    color: chartreuse;
}